.details-container {
    margin-top: 150px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.details-back-button {
    background: #163E6C;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'PT Astra Sans', sans-serif;
}

.details-back-button:hover {
    background-color: #2a5a94;
}

.edit-button {
    background: #163E6C;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'PT Astra Sans', sans-serif;
}

.edit-button:hover {
    background-color: #2a5a94;
}